{% extends "website/base.html" %}

{% block content %}
    <div class="peoplecontent">
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/15229/user/icon/boost/f1?rev=12005" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Aakash.V.P</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16200/user/icon/boost/f1?rev=11960" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Aishree</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16292/user/icon/boost/f1?rev=42288" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Dineshkumar.S</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16450/user/icon/boost/f1?rev=12223" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Ashwin.A.O</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
         <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/15234/user/icon/boost/f1?rev=12123" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Graham Stanes</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
         <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16735/user/icon/boost/f1?rev=12353" alt="people image">
            </div>
            <div class="peopledetails">
                <h3>Sumyuktha Rani</h3>
                <h3>B.Tech</h3>
            </div>
        </div>
    </div>
{% endblock  %}