{% extends "website/base.html" %}

{% block content %}
    <div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16292/user/icon/boost/f1?rev=42288" alt="people image">
            </div>
            <div>Dineshkumar.S</div>
            <div>B.Tech</div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/15229/user/icon/boost/f1?rev=12005" alt="people image">
            </div>
            <div>Aakash.V.P</div>
            <div>B.Tech</div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16200/user/icon/boost/f1?rev=11960" alt="people image">
            </div>
            <div>Aishree</div>
            <div>B.Tech</div>
        </div>
        <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16450/user/icon/boost/f1?rev=12223" alt="people image">
            </div>
            <div>Ashwin.A.O</div>
            <div>B.Tech</div>
        </div>
         <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/15234/user/icon/boost/f1?rev=12123" alt="people image">
            </div>
            <div>Graham Stanes</div>
            <div>B.Tech</div>
        </div>
         <div>
            <div class="peopleimg">
                <img src="http://lms.ai.saveetha.ac.in/pluginfile.php/16735/user/icon/boost/f1?rev=12353" alt="people image">
            </div>
            <div>Sumyuktha Rani</div>
            <div>B.Tech</div>
        </div>
    </div>
{% endblock  %}